.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
:root {
	--side-padding: 38px; /* 기본값: 모바일 */
	--max-width: 600px;
}

@media (min-width: 768px) {
	:root {
		--side-padding: 100px; /* md 이상: 데스크탑 */
		--max-width: 600px;
	}
}
@layer components {
	.text-label {
		@apply text-xs text-black/60 font-suit font-semibold;
	}
	.text-label-black {
		@apply block text-sm font-semibold;
	}
	.text-value {
		@apply text-[14px] text-black font-suit font-bold;
	}
	.text-valueTitle {
		@apply text-[16px] text-black font-suit font-bold;
	}
	.text-sectionTitle {
		@apply text-lg text-black font-suit font-bold;
	}
}
